$white: #ffffff !default;
$black: #000000 !default;

// font-style
$font-family-base: 'Pretendard', sans-serif !default;
$font-size-base: 17px !default;
$font-color-base: #1d1d1d !default;
$font-weight-base: 400 !default;

//line height style
$line-height-none: 1 !default;
$line-height-base: 1.5 !default;

/* 기본 폰트 설정 */
html,
body {
    font-size: 62.5%;
    overflow-x: hidden;
    font-size: $font-size-base; // 17px = 1.6rem
    line-height: $line-height-base; // 1.5
    font-family: $font-family-base; // "Noto Sans KR", sans-serif;
    color: $font-color-base; // #1d1d1d;
    font-weight: $font-weight-base; // 400
}

a {
    color: $font-color-base;
    text-decoration: none;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// adobe Proxima Nova
@import url('https://use.typekit.net/bdn8hmi.css');

.font-proxima {
    font-family: 'proxima-nova-extra-wide', sans-serif;
}

.font-proxima-normal {
    font-family: 'proxima-nova', sans-serif;
}

.font-display1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 100%;
    @media (min-width: 768px) {
        font-size: clamp(60px, 6.8vw, 120px);
    }
}

.font-display2 {
    font-size: clamp(28px, 3.733vw, 72px);
    font-weight: 500;
    line-height: 140%;
}

.font-display3-h2 {
    font-size: clamp(28px, 3.733vw, 48px);
    font-weight: 700;
    line-height: 140%;
}

.font-display3 {
    font-size: clamp(24px, 2.655vw, 32px);
    font-weight: 600;
    letter-spacing: -0.05rem;
}

.font-display3-onclick {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

.font-display3-desktop {
    font-size: clamp(1.55rem, 2.01vw, 3.05rem);
    font-weight: 600;
    letter-spacing: -0.05rem;
}

.font-display4-h3 {
    font-size: clamp(28px, 3.733vw, 40px);
    font-weight: 700;
    line-height: 140%;
}

.font-btn {
    font-size: clamp(16px, 2.133vw, 24px);
    font-weight: 500;
    line-height: clamp(48px, 6.4vw, 72px);
}

.font-talk {
    position: relative;
    display: inline-block;
    margin: 0 0.2rem;
}

.icon-talk {
    width: clamp(36px, 4.8vw, 68px);
    height: clamp(36px, 4.8vw, 68px);
}

// copyright
// .copyright {
//     margin-top: 28px;
//     text-align: center;
//     font-size: 18px;
//     line-height: 1.6;
//     color: var(--Gray__90);
//     font-weight: 700;
//     white-space: none;
// }
