$white: #ffffff !default;
$black: #000000 !default;

// font-style
$font-family-base: 'Pretendard', sans-serif !default;
$font-size-base: 17px !default;
$font-color-base: #1d1d1d !default;
$font-weight-base: 400 !default;

//line height style
$line-height-none: 1 !default;
$line-height-base: 1.5 !default;

/* 기본 폰트 설정 */
html,
body {
    font-size: 62.5%;
    overflow-x: hidden;
    font-size: $font-size-base; // 17px = 1.6rem
    line-height: $line-height-base; // 1.5
    font-family: $font-family-base; // "Noto Sans KR", sans-serif;
    color: $font-color-base; // #1d1d1d;
    font-weight: $font-weight-base; // 400
}

a {
    color: $font-color-base;
    text-decoration: none;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// adobe Proxima Nova
@import url('https://use.typekit.net/bdn8hmi.css');

.font-proxima {
    font-family: 'proxima-nova-extra-wide', sans-serif;
}

.font-proxima-normal {
    font-family: 'proxima-nova', sans-serif;
}

.font-display1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 100%;
    @media (min-width: 768px) {
        font-size: clamp(60px, 6.8vw, 120px);
    }
}

.font-display2 {
    font-size: clamp(28px, 3.733vw, 72px);
    font-weight: 500;
    line-height: 140%;
}

.font-display3-h2 {
    font-size: clamp(28px, 3.733vw, 48px);
    font-weight: 700;
    line-height: 140%;
}

.font-display3 {
    font-size: clamp(24px, 2.655vw, 32px);
    font-weight: 600;
    letter-spacing: -0.05rem;
}

.font-display3-onclick {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

.font-display3-desktop {
    font-size: clamp(1.55rem, 2.01vw, 3.05rem);
    font-weight: 600;
    letter-spacing: -0.05rem;
}

.scale-14 {
    scale: 1.4;
}

.font-btn {
    font-size: clamp(16px, 2.133vw, 24px);
    font-weight: 500;
    line-height: clamp(48px, 6.4vw, 72px);
}

.font-talk {
    position: relative;
    display: inline-block;
    margin: 0 0.2rem;
}

.icon-talk {
    width: clamp(36px, 4.8vw, 68px);
    height: clamp(36px, 4.8vw, 68px);
}

// pretcoord 소스
.fs-170-24 {
    font-size: clamp(24px, 9.767vw, 170px);
    font-family: 'proxima-nova-extra-wide';
}

.fs-160-80 {
    font-size: clamp(80px, 10.667vw, 160px);
}

.fs-160-60 {
    font-size: clamp(60px, 8vw, 160px);
}

.fs-120-60 {
    font-size: clamp(60px, 6.8vw, 120px);
}

.fs-116-56 {
    font-size: clamp(56px, 7.467vw, 116px);
}

.fs-100-40 {
    font-size: clamp(40px, 7vw, 100px);
}

.fs-82-40 {
    font-size: clamp(40px, 5.333vw, 68px);
}

.fs-80-60 {
    font-size: clamp(60px, 8vw, 80px);
}

.fs-72-28 {
    font-size: clamp(28px, 3.733vw, 72px);
}

.fs-68-36 {
    font-size: clamp(36px, 4.8vw, 68px);
}

.fs-68-32 {
    font-size: clamp(32px, 4.267vw, 68px);
}

.fs-56-36 {
    font-size: clamp(36px, 4.8vw, 56px);
}

.fs-56-28 {
    font-size: clamp(28px, 3.733vw, 56px);
}

.fs-56-24 {
    font-size: clamp(24px, 3.2vw, 56px);
}

.fs-48-28 {
    font-size: clamp(28px, 3.733vw, 48px);
}

.fs-44-28 {
    font-size: clamp(28px, 3.733vw, 44px);
}

.fs-44-32 {
    font-size: clamp(32px, 4.267vw, 44px);
}

.fs-44-24 {
    font-size: clamp(24px, 2.267vw, 44px);
}

.fs-40-28 {
    font-size: clamp(28px, 3.733vw, 40px);
}

.fs-32-24 {
    font-size: clamp(24px, 2.2vw, 32px);
}

.fs-32-16 {
    font-size: clamp(16px, 3.2vw, 32px);
}

.fs-28-16 {
    font-size: clamp(16px, 2.133vw, 28px);
}

.fs-24-20 {
    font-size: clamp(20px, 2.667vw, 24px);
}

.fs-24-18 {
    font-size: clamp(18px, 2.4vw, 24px);
}

.fs-24-16 {
    font-size: clamp(16px, 1.933vw, 24px);
}

.fs-20-18 {
    font-size: clamp(18px, 2.1vw, 20px);
}

.fs-20-16 {
    font-size: clamp(16px, 1.733vw, 20px);
}

.fs-20-14 {
    font-size: clamp(14px, 1.867vw, 20px);
}

.fs-18-16 {
    font-size: clamp(16px, 2.133vw, 18px);
}

.fs-18-14 {
    font-size: clamp(14px, 1.867vw, 18px);
}

.fs-16-14 {
    font-size: clamp(14px, 1.867vw, 16px);
}

.fs-14-13 {
    font-size: clamp(13px, 1.733vw, 14px);
}

.fs-13-12 {
    font-size: clamp(12px, 1.6vw, 13px);
}
