$white: #ffffff !default;
$black: #000000 !default;

// font-style
$font-family-base: 'Pretendard', sans-serif !default;
$font-size-base: 17px !default;
$font-color-base: #1d1d1d !default;
$font-weight-base: 400 !default;

//line height style
$line-height-none: 1 !default;
$line-height-base: 1.5 !default;

/* 기본 폰트 설정 */
html,
body {
    overflow-x: hidden;
    font-size: $font-size-base; // 17px = 1.6rem
    line-height: $line-height-base; // 1.5
    font-family: $font-family-base; // "Noto Sans KR", sans-serif;
    color: $font-color-base; // #1d1d1d;
    font-weight: $font-weight-base; // 400
}

a {
    color: $font-color-base;
    text-decoration: none;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// adobe Proxima Nova
@import url('https://use.typekit.net/bdn8hmi.css');

.font-proxima {
    font-family: 'proxima-nova-extra-wide', sans-serif;
}

.font-mobile-display1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 100%;
    @media (min-width: 768px) {
        font-size: clamp(60px, 6.8vw, 120px);
    }
}

.font-mobile-display2 {
    font-size: clamp(28px, 3.733vw, 72px);
    font-weight: 500;
    line-height: 140%;
}

.font-btn {
    font-size: clamp(16px, 2.133vw, 24px);
    font-weight: 500;
    line-height: clamp(48px, 6.4vw, 72px);
}

.font-talk {
    position: relative;
    display: inline-block;
    margin: 0 0.2rem;
}
