.gnb-tabletless {
    @media (max-width: 1024px) {
        height: calc(100vh - 102px);
        position: fixed;
        top: 80px;
        right: 0;
        bottom: 100px;
        width: 100%;
        padding: 0;
        overflow: auto;
    }
}
