@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';
@import 'fonts';

:root {
    --background: #ffffff;
    --foreground: #171717;

    --Green__primary: #2aea65;
    --Gray__10: #f4f4f4;
    --Gray__90: #111111;
    --Gray__80: #1d1d1d;
    --Gray__60: #404040;
    --Gray__50: #9e9e9e;
    --Gray__30: #d9d9d9;
    --Gray__70: #272727;
    --Green__800: #215531;
    --Green__900: #0e2a16;
    --Green__700: #307d47;
    --Green__600: #40aa61;

    --secondary: #7b4b94;

    --gray-5: #f7f7f7;
    --gray-10: #f4f4f4;
    --gray-20: #e0e0e0;
    --gray-30: #d9d9d9;
    --gray-40: #c0c0c0;
    --gray-50: #b0b0b0;
    --gray-60: #404040;
    --gray-70: #272727;
    --gray-80: #1d1d1d;
    --gray-90: #111111;

    --hdHeight: 5rem;
    --vh: 1vh; //intro 영상 사이즈 관련
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}

// custom-background-color
.bgc-g90 {
    background-color: var(--Gray__90);
}
.bgc-g80 {
    background-color: var(--Gray__80);
}
.bgc-g70 {
    background-color: var(--Gray__70);
}
.bgc-g60 {
    background-color: var(--Gray__60);
}
.bgc-g50 {
    background-color: var(--Gray__50);
}
.bgc-g30 {
    background-color: var(--Gray__30);
}
.bgc-g10 {
    background-color: var(--Gray__10);
}
.bgc-p {
    background-color: var(--Green__primary);
}

// custom-color
.color-g90 {
    color: var(--Gray__90);
}
.color-g80 {
    color: var(--Gray__80);
}
.color-g70 {
    color: var(--Gray__70);
}
.color-g60 {
    color: var(--Gray__60);
}
.color-g50 {
    color: var(--Gray__50);
}
.color-g30 {
    color: var(--Gray__30);
}
.color-g10 {
    color: var(--Gray__10);
}

.contact-radius {
    border-radius: clamp(0.125rem, 20vw, 13.75rem);
}

.contact-icon-size {
    width: clamp(3.75rem, 8vw, 6.25rem);
    height: clamp(3.75rem, 8vw, 6.25rem);
}

.btn {
    padding: 1.25rem 5rem;
    border-radius: 6.25rem;
    height: clamp(3rem, 6.4vw, 4.5rem);
    transition: all 0.3s;
    &.black1 {
        background: var(--Gray__90);
        color: var(--Gray__10);
        &:hover {
            background: var(--Gray__10);
            color: var(--Gray__90);
        }
    }
    &.white1 {
        background: #ffffff;
        color: var(--gray-90);
        &:hover {
            background: var(--Green__primary);
        }
    }
    &.green1 {
        background: #60c37e;
        color: var(--gray-90);
        &:hover {
            background: var(--Green__primary);
        }
    }
    &.fit1 {
        width: fit-content;
        padding: 0 clamp(2.5rem, 5.333vw, 3.75rem);
        height: clamp(3rem, 6.4vw, 4.25rem);
        font-size: clamp(1rem, 2.133vw, 1.25rem);
        line-height: clamp(3rem, 6.4vw, 4.25rem);
    }
}

.fullHeight {
    min-height: calc(var(--vh, 1vh) * 100); //intro 영상 사이즈 관련
}

.fullHeight-h {
    min-height: calc(var(--vh, 1vh) * 100 - 5rem); //intro 영상 사이즈 관련
}

.cont {
    width: clamp(15rem, 89vw, 92.5rem);
    height: 100%;
    margin: 0 auto;
}

.layout-plan {
    max-width: 100rem;
    margin: clamp(2.5rem, 8.127vw, 6.25rem) 0 0;
}

.layout-plan-wrap {
    padding: clamp(5.625rem, 6.5vw, 7.5rem) 0;
}

header {
    width: 100%;
    .logo-p,
    .logo-r,
    .logo-e,
    .logo-t,
    .logo-c,
    .logo-o,
    .logo-o2,
    .logo-r2,
    .logo-d {
        fill: var(--Gray__30);
    }
    .header-inner {
        height: inherit;
        position: relative;
        margin: 0 auto;
        padding: 0 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
    }
    .header-right {
        > button {
            font-weight: 700 !important;
            font-size: 0.95rem;
            padding: 0 20px;
            line-height: 36px;
            height: auto;
        }
    }

    .header-left {
        nav > ul > li > a > span {
            font-family: 'proxima-nova', sans-serif;
            color: var(--Gray__30);
            font-size: 1.058rem;
        }
    }

    .floating-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: -22px;
        width: fit-content;
        padding: 10px 0;
        border-radius: 12px;
        z-index: 2;
        ul > li > a > span {
            font-family: 'proxima-nova', sans-serif;
            color: var(--Gray__30);
            font-size: 0.946rem;
        }
    }
}

.header-logo {
    display: block;
    width: clamp(162px, 18.824vw, 315px);
    fill: var(--Gray__10);
}
