@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';
@import 'fonts';
@import 'animate';
@import 'layout';

:root {
    --background: #ffffff;
    --foreground: #171717;

    --Green__primary: #2aea65;
    --Green__800: #215531;
    --Green__900: #0e2a16;
    --Green__700: #307d47;
    --Green__600: #40aa61;

    --Gray__90: #111111;
    --Gray__80: #1d1d1d;
    --Gray__70: #272727;
    --Gray__60: #404040;
    --Gray__50: #9e9e9e;
    --Gray__30: #d9d9d9;
    --Gray__10: #f4f4f4;

    --vh: 1vh; //intro 영상 사이즈 관련
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}

.btn {
    padding: 1.25rem 5rem;
    border-radius: 6.25rem;
    height: clamp(3rem, 6.4vw, 4.5rem);
    transition: all 0.3s;
    &.black1 {
        background: var(--Gray__90);
        color: var(--Gray__10);
        &:hover {
            background: var(--Gray__10);
            color: var(--Gray__90);
        }
    }
    &.white1 {
        background: #ffffff;
        color: var(--Gray__90);
        &:hover {
            background: var(--Green__primary);
        }
    }
    &.green1 {
        background: #60c37e;
        color: var(--Gray__90);
        &:hover {
            background: var(--Green__primary);
        }
    }
    &.fit1 {
        width: fit-content;
        padding: 0 clamp(2.5rem, 5.333vw, 3.75rem);
        height: clamp(3rem, 6.4vw, 4.25rem);
        font-size: clamp(1rem, 2.133vw, 1.25rem);
        line-height: clamp(3rem, 6.4vw, 4.25rem);
    }
}
